<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AshMind.Extensions" version="1.7.2" targetFramework="net45" />
  <package id="fastJSON" version="2.1.15.0" targetFramework="net45" />
  <package id="NetJSON" version="1.1.0.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net45" />
  <package id="NFormats.Xml" version="0.1.0" targetFramework="net45" />
  <package id="ServiceStack.Text" version="4.0.40" targetFramework="net45" />
  <package id="XSerializer" version="0.1.28" targetFramework="net45" />
  <package id="xunit" version="1.9.2" targetFramework="net45" />
  <package id="YAXLib" version="2.13" targetFramework="net45" />
</packages>