<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AshMind.Extensions" version="1.1.5" targetFramework="net45" />
  <package id="AutoMapper" version="3.1.0" targetFramework="net45" />
  <package id="EasyMapper" version="1.0.2" targetFramework="net45" />
  <package id="EmitMapper" version="1.0.0" targetFramework="net45" />
  <package id="fFastMapper" version="0.5.3" targetFramework="net45" />
  <package id="Microsoft.Web.Xdt" version="1.0.0" targetFramework="net45" />
  <package id="NuGet.Core" version="2.7.2" targetFramework="net45" />
  <package id="OoMapper" version="0.2.0.27" targetFramework="net45" />
  <package id="valueinjecter" version="2.3.3" targetFramework="net45" />
  <package id="xunit" version="1.9.2" targetFramework="net45" />
  <package id="xunit.extensions" version="1.9.2" targetFramework="net45" />
</packages>