<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\#framework\Runner\packages.config" />
  <repository path="..\#framework\Shared\packages.config" />
  <repository path="..\DependencyInjection\packages.config" />
  <repository path="..\ObjectMappers\packages.config" />
</repositories>