@import url(http://fonts.googleapis.com/css?family=Open+Sans);

@media only screen and (max-width: 760px) {
    body {
        background-color: white;
    }
    
    .content {
        padding: 0;
        min-width: 0;
    }
}

html {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Segoe UI", "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eeeeee;
}

.content {
    position: relative;
    background-color: white;
    margin: 0 auto;
    width: 95%;
    min-width: 760px;
    max-width: 1200px;
    padding: 50px;
    padding-top: 10px;
}

h1, h2 {
    font-weight: bold;
}

h1 {
    font-size: 160%;
    text-align: center;
    padding-bottom: 1rem;
}

h2 {
    font-size: 125%;

    margin: 0;
    margin-bottom: 0.3rem;
    margin-top: 2.5rem;
}

section:first-of-type h2 {
    margin-top: 0;
}

.table-description {
    margin-bottom: 0.3rem;
}

.table-description, .feature-descriptions, .comments {
    max-width: 60rem;
}

dt, dd {
    margin: 0;
    padding: 0;
}

dt {
    font-weight: bold;
}

dd {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
}

dd p {
    margin-top: 0;
}

dd + dt {
    margin-top: 0.5rem;
}

table {
    margin: 0;
    border: 0;
    
    margin-top: 1rem;

    font-size: 90%;
}

th {
    font-weight: normal;
    max-width: 10em;
    background-color: #ccc;

    overflow: hidden;
    text-overflow: ellipsis;
}

th, td {
    padding: 0.2rem;
    text-align: center;
}

td {
    background-color: #eee;
}

td.framework-name, th:first-child {
    text-align: left;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
}

td.success {
    background-color: #c6efce;
    color: #006100;
}

td.failure {
    background-color: #ffc7ce;
    color: #9c0006;
}

td.skipped {
    background-color: #eee;
    color: #c0c0c0;
}

td.concern {
    background-color: #ffeba5;
    color: #9c6500;
}

td > a:only-child {
    display: block;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

td.success a, td.failure a, td.concern a, td.skipped a {
    color: inherit;
}

/* http://codepo8.github.io/css-fork-on-github-ribbon/ by http://christianheilmann.com/ */
#fork-on-github {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 200px;
    overflow: hidden;
    height: 200px;
}

#fork-on-github a {
    position: absolute;
    top: 60px;
    right: -60px;
    width: 200px;

    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);

    color: #000;
    text-decoration: none;
    font-family: Arial, sans-serif;
    text-align: center;
    font-weight: bold;
    padding: 5px 40px;
    font-size: 1rem;
    line-height: 2rem;
    transition: background-color 0.5s;
}

#fork-on-github a:hover {
    background-color: #b4cce4;
}

#fork-on-github a::before, #fork-on-github a::after {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    top: 1px;
    left: 0;
    height: 1px;
    background: #000;
}

#fork-on-github a::after {
    bottom: 1px;
    top: auto;
}