html, body {
    font-family: "Segoe UI";
    margin: 0;
    padding: 0;
}

.note {
    background-color: #eeeeee;
    padding: 0.3rem;
    font-size: 110%;
}

.note-firefox {
    display: none;
}

table {
    float: left;
    clear: both;
    
    margin: 0;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    
    border: 0;
}

/* The amazing CSS triangle: */
.with-details::after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    right: 0;
    top: 0;
    border-style: solid;
    border-width: 0 0.6rem 0.6rem 0;
    border-color: transparent yellow transparent transparent;
}

table caption {
    text-align: left;
    
    padding: 0.2rem;
    padding-left: 0.5rem;
    
    border: 2px solid white;
    border-bottom: 0;

    position: relative;
}

table caption, table caption .details {
    background-color: #95b3d7;
}

table caption.with-details::after {
    border-right-color: #376092;
}

td, th {
    padding: 0.2rem;
    text-align: center;
}

th {
    font-weight: normal;
    max-width: 10em;
}

th, th .details {
    background-color: #b4cce4;
}

td, td .details {
    background-color: #dbe5f1;
}

td, th {
    position: relative;
}

th.with-details::after {
    border-right-color: #376092;
}

td.success, td.success .details {
    background-color: #c6efce;
    color: #006100;
}

td.success.with-details::after {
    border-right-color: #006100;
}

td.failure, td.failure .details {
    background-color: #ffc7ce;
    color: #9c0006;
}

td.failure.with-details::after {
    border-right-color: #9c0006;
}

td.neutral, td.neutral .details {
    background-color: #ffeba5;
    color: #9c6500;
}

td.neutral.with-details::after {
    border-right-color: #9c6500;
}

.details {
    text-align: left;
    border-top: 2px solid white;
    
    display: none;
    
    white-space: pre-wrap;
    
    z-index: 1000;
    left: 0;
    top: 100%;
    min-width: 30em;
    
    padding: 0.2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.with-details:hover .details {
    display: block;
    position: absolute;
}

@-moz-document url-prefix() {
    .note-firefox {
        position: fixed;
        right: 0;
        display: block;
        padding: 0.3rem;
        font-size: 110%;
        background-color: #ffeba5;
        z-index: 1000;
    }
}