@import url(http://fonts.googleapis.com/css?family=Open+Sans);

html {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Segoe UI", "Open Sans", sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.main-nav {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 250px;
    border-right: 1px solid #ccc;
}

.main-nav ul, .main-nav li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-nav li > ul {
    padding-left: 20px;
}

.main-nav a {
    color: #000;
    text-decoration: none;
    display: block;
    padding: 5px 10px;
}

.main-nav a:hover {
    text-decoration: none;
}

.main-nav .selected {
    background-color: #eee;
}

.content {
    position: absolute;
    left: 270px;
    right: 20px;

    padding: 20px 0;
}

h1, h2 {
    font-weight: normal;
}

h1 {
    font-size: 160%;
    padding-bottom: 5px;
    margin-top: 0;
}

h2 {
    font-size: 125%;

    margin: 0;
    margin-bottom: 0.1rem;
    margin-top: 2.5rem;
    
    padding-bottom: 0.2rem;
    border-bottom: 1px solid #eee;
}

section:first-of-type h2 {
    margin-top: 0;
}

.section-description {
    margin-bottom: 0.3rem;
}

.section-description, .feature-descriptions, .comments {
    max-width: 60rem;
}

dl, dt, dd {
    margin: 0;
    padding: 0;
}

dt {
    font-size: 105%;
}

dd {
    margin-left: 0.8rem;
    margin-top: 0.2rem;
}

dd p {
    margin-top: 0;
}

dd + dt {
    margin-top: 0.5rem;
}

table {
    margin: 0;
    border: 0;
    table-layout: fixed;
    border-collapse: collapse;
    
    margin-top: 1rem;

    font-size: 90%;
    width: 100%;
}

th {
    font-weight: normal;
    background-color: #ccc;
}

/*th span {
    -webkit-transition: all 1s;
    transition: all 1s;
}

.narrow-table-headers th {
    height: 90px;
}

.narrow-table-headers th span {
    display: block;
    text-align: left;
    -webkit-transform: translateY(-50%) rotate(90deg) translateX(10px);
    transform: translateY(-50%) rotate(90deg) translateX(10px);
}*/

th, td {
    padding: 3px;
    text-align: center;

    overflow: hidden;
    text-overflow: ellipsis;
}

td {
    background-color: #eee;
    white-space: nowrap;
}

td.row-name, th:first-child {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;

    width: 160px;
    max-width: 160px;
}

td.row-name {
    white-space: normal;
}

/*td.number, td.date {
    text-align: right;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
}*/

td.success {
    background-color: #c6efce;
    color: #006100;
}

td.failure {
    background-color: #ffc7ce;
    color: #9c0006;
}

td.skipped {
    background-color: #eee;
    color: #c0c0c0;
}

td.concern {
    background-color: #ffeba5;
    color: #9c6500;
}

td > a:only-child {
    display: block;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

td.success a, td.failure a, td.concern a, td.skipped a {
    color: inherit;
}

.with-tooltip {
    border-bottom: 1px dashed #aaa;
    cursor: help;
}

td.success .with-tooltip {
    border-bottom-color: #006100;
}

td.failure .with-tooltip {
    border-bottom-color: #9c0006;
}

td.skipped .with-tooltip {
    border-bottom-color: #c0c0c0;
}

td.concern .with-tooltip {
    border-bottom-color: #9c6500;
}

/*.with-tooltip:after {
    content: ' ?';
    color: #aaa;
}*/

.tooltipster-custom {
    pointer-events: auto;
    background-color: #888;
    border: 1px solid #888;
    color: white;
}

/* Use this next selector to style things like font-size and line-height: */
.tooltipster-custom .tooltipster-content {
	font-size: 16px;
	line-height: normal;
	padding: 8px;
	overflow: hidden;
    max-width: 600px;
}

.tooltipster-custom .tooltipster-content p {
    margin-top: 0;
    margin-bottom: 0;
}

.tooltipster-custom .tooltipster-content p+p {
    margin-top: 1em;
}