@using System.Linq
@inherits FeatureTests.Runner.Outputs.Html.HtmlTemplateBase<FeatureTests.Runner.Outputs.Html.Models.HtmlBasicModel>

<p>
  This project monitors support for different features across multiple libraries.<br />
  The goal is to encourage feature parity and better understanding of what is and should be available.
</p>

<p>You can find the code behind this site at <a href="https://github.com/ashmind/net-feature-tests">net-feature-tests GitHub project</a>.</p>

<p>Please note the following:</p>
<ol>
  <li>The list of features is based on what I consider to be important. It is not an objective measure on which library is "better".</li>
  <li>It is not possible to test for all features automatically. For example, extensibility is very important, but impossible to test/measure.</li>
  <li>The test about might not necessary be up to date (see the version for each library).</li>
  <li>The test code should not be seen as best practice for each library — it forces all of them to the same test interface.</li>
  <li>I am not an expert on all libraries and not all adapters were reviewed by authors. So feature may fail because of incorrect adapter.</li>
</ol>
            
<p>Thanks for reading!</p>