html, body {
    font-family: "Segoe UI";
    margin: 0;
    padding: 0;
}

.note {
    background-color: #eeeeee;
    padding: 0.3rem;
    font-size: 110%;
}

table {
    float: left;
    clear: both;
}

/*header * {
    margin-left: 1px;
    margin-right: 1px;
    
    padding: 0.2rem;
    padding-left: 0.5rem;
    
    border: 1px solid white;
}

header h2 {
    font-size: 110%;
    font-weight: normal;
    background-color: #b4cce4;

    margin-bottom: 0;
    border-bottom: 0;
}

header .description {
    display: inline;
    background-color: #b4cce4;
}*/

table {
    margin: 0;
    margin-top: 0.5rem;
    border: 0;
}

table caption {
    background-color: #b4cce4;
    text-align: left;
}

table caption * {
    padding: 0.2rem;
    padding-left: 0.5rem;
    
    border: 2px solid white;
    border-bottom: 0;
}

table caption .title {
    background-color: #95b3d7;
}

table caption .description {
    white-space: pre-wrap;
}

td, th {
    padding: 0.2rem;
    text-align: center;
}

th {
    font-weight: normal;
    max-width: 10em;
    background-color: #b4cce4;
}

td {
    background-color: #dbe5f1;
}

td, th {
    position: relative;
}

th[title]::after, td[title]::after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    right: 0;
    top: 0;
    border-style: solid;
    border-width: 0 0.6rem 0.6rem 0;
    border-color: transparent yellow transparent transparent;
}

th[title]::after {
    border-right-color: #376092;
}

td.success {
    background-color: #c6efce;
    color: #006100;
}

td.success::after {
    border-right-color: #006100;
}

td.failure {
    background-color: #ffc7ce;
    color: #9c0006;
}

td.failure::after {
    border-right-color: #9c0006;
}

td.neutral {
    background-color: #ffeba5;
    color: #9c6500;
}

td.neutral::after {
    border-right-color: #9c6500;
}